*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Barlow', sans-serif;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    box-shadow: 0px 3px 10px rgb(0 0 0 / 0.7);
    cursor: pointer;
    border-radius: .195rem;

}
body{
    background-color: #ffff;
    opacity: 0;
    transition: opacity .5s;
}
.nav, .main, .footer{
    width: 80%;
    margin: 0px auto;
    display: flex;
}
.navMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.nav{
    box-shadow: rgba(0, 0, 0, 0.25) 0px -60px 45px -18px inset;
    display: flex;
    flex-direction: row;
}
h1 a{
    font-size: clamp(0.2rem, 1rem + 5vw, 4rem);
}
.main{
    background-color: #e7cad9;
    z-index: 1;
}
.hamburger{
    display: none;
}
.navMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.navNav{
    padding: 1rem 0;
}
.navOp{
    display: inline;
    font-size: 23px;
    text-decoration: none;
    box-sizing: border-box;
    padding: 10px 20px;
    height: auto;
    cursor: pointer;
    /* border: #444444 1px solid;
    background-color: #ffebd3; */
    margin: 0 .25rem;
}
.nav, .footer{
    background-color: #679186;
    padding: 1.5em;
    z-index: 100;
}

.navSocial a{
    color: #34456e;
    display: inline-flex;
    font-size: 2em;
    text-decoration: none;
}

.navLinks{
    display: flex;
    justify-content: space-evenly;
}

.navSocial{
    padding: 0 2rem;
}

                                                    /* TEXT CONTROL */
.navTitle a, .footerTitle{
    font-family: 'Parisienne', cursive;
    text-decoration: none;
    color: black; 
}
.introTitle{
    padding: 1rem;
}
.introText{
    margin-bottom: 2rem;
}
.textText, .podtext, .textTile{
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
                                                        /* MAIN PAGE */

.colWrap, .colItem{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.contWrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    column-gap: 20px;
}
.col{
    padding: 0px 20px;
}
.item{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    text-align: center; 
}

.image{
    width: 400px;
    height: auto;
    align-self: center;
    float: right;
    margin: 1rem;
}

.imageRight{
    float: left;
}

.intro{
    padding: 1rem;
    margin: 3rem auto;
}

                                                        /* MAIN PAGE END */
                                                        /* ABOUT PAGE */
.aboutCards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    /* gap: 1rem; */
}

.cardImg{
    max-width: 100%;
    display: flex;
    width: 450px;
    height: 250px;
    object-fit:cover;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem ;
}
.cardContent{
    display: block;
    margin: .5rem;
}


                                                        /* CONTACT AREA  */
.contact{
    width: 100%;
    background-image: url(/Pods/Green.jpg);
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5rem 0;
}
.contactIntro{
    padding: 2rem;
}

.contactWrap{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 20px;
    color: #f1f1f1;
}

.contactItem{
    list-style: none;
    display: inline-flex;
    padding: 10px;
    font-size: 1.7rem;
}
.contactItem a{
    font-size: 2.2rem;
    color: #f1f1f1;
}

                                                            /* ABOUT PAGE END */
                                                            /* PODCAST PAGE */

.podWrap{
    justify-content: center;
}

.podIntro{
    display: flex;
    padding: 2rem;
}

.podList{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 2.5rem;
}
.podImgWrap{
    display: flex;
    max-width: 13rem;
    max-height: 13rem;
    object-fit: cover;   
}
.podImage{
    display: inline-block;
    margin: .50rem;
    object-fit: cover;
    width: 100%;
}

.podItem{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    margin-bottom: 3rem;
}

.podTitle{
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    font-size: 2rem;
}

.description{
    padding: 0rem .50rem;
    display:flex;
    font-size: clamp(0.1em, 0.125rem + 4vw, 1.125rem);
    text-align: left;
    /* height: auto; */
}

.podContent{
    padding: .50rem;
    /* width: clamp(0.1rem, 5rem + 900vh, 30rem); */
    width: auto;
}
.podLinks{
    padding-left:.50rem;
}

                                                            /* PODCAST PAGE END */
                                                            /* SERVICES PAGE */
.service{
    padding: 1rem;
    margin-bottom: 3rem;
    color: #f1f1f1;
}
.servIntroWrap, .podIntroWrap, .aboutIntroWrap{
    border: 1px solid #444444;
    width: 80%;
    margin: 0 auto;
    /* background-color: #258EA6; */
    /* opacity: 0.5; */

}
.sText{
    margin-bottom: 2rem;
}
.sTitle{
    margin-top: 2.5rem;
}

.sTop, .sMid, .sBottom{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

    
.sTop {
    background-image: url(/Pods/LampCrystal.jpg);
}
.sMid{
    background-image: url(/Pods/TreesTop.jpeg);
}

.sBottom{
    background-image: url(/Pods/SmokingMatches.jpg);
}

.serviceBg{
    right: 0;
    width: 100%;
    height: auto; 
    object-fit: cover;
}

                                                                    /* SERVICES PAGE END */
                                                                    /* FOOTER START */

.footer{
    background-color: #444444;
}
.fMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.footerSocial{
    display: inline;
    padding: 10px;
}

.fc{
    padding: 1rem 0;
    font-size: clamp(0.1rem, 1rem + 10vw, 1.6rem);
    color: #f1f1f1;
}
.fc a{
    color: #f1f1f1;
}

.footerTitle{
    font-size: clamp(0.2rem, 1rem + 4vw, 2.6rem);
    cursor: pointer;
    color: #f1f1f1;
}

.rights{
    font-size: clamp(0.9rem, 0.4rem + 1.5vw, 1.2rem);
    margin: 0 auto;
    color: #f1f1f1;
}

.footerLinks{
    font-size: 30px;
}

.designer{
    padding-top: 1.5rem;
}

.Des{
    font-size: clamp(0.25rem, 0.8rem + 2vw, 1.3rem);
    color: #ececec;
    opacity: 0.2;
    margin-top: 5rem;
}

                                                                        /* FOOTER END */
                                                            /* MOBILE ADJEUSTMENTS */

@media screen and (max-width:810px) {
    .nav, .main, .footer{
        width: 100%;
        display: flex;
    }

    .podItem{
        flex-wrap: wrap;
    }

    .description{
        padding: 0;
    }

    /* .contactItems{
        margin-bottom: 2rem;
    }

    .contHead{
        padding-top: 2rem;
    } */

  
}


@media screen and (max-width: 480px) {
    
    .hamburger {
        position: fixed;
        z-index: 100;
        /* top: 2rem; */
        /* right: 3rem; */
        padding: 4px;
        border: none;
        background: transparent;
        cursor: pointer;
        display: block;
      }
    
      .closeIcon {
        display:none;
      }

      .navTitle{
          float: left;
      }
    
      .navContent, .navLinks {
        position: fixed;
        transform: translateX(100%);
        transition: transform 1s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* z-index: 1; */
        background: blueviolet;
        color: white;
        list-style: none;
        padding-top: 4rem;
        /* width: 1000px; */
      }
    
      .showMenu {
        transform: translateX(0);
        transition: transform 1s;
        width: 50%;
      }
    
    .navOp{
        color: black;
        font-size: 30px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        text-align: center;
        
    }
    
    #about, #podcast, #contactNav, #servicesNav{
        width: 150px;
        
    } 

    #menu{
        position: absolute;
        top: 4%;
        right: 5%;
        font-size: 150%;
        
        /* transform: translate(5%, 20%); */
    }

    .colItem{
        display: flex;
        /* flex-direction: row; */
        /* grid-template-columns: 1fr; */
    }

    .contWrap{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 20px;
        margin-bottom: 50px;
    }

    .textText{
        width: 100%;

    }
    .reverse{
        flex-wrap: wrap-reverse;
    }

    .item{
        width: 100%;
    }
    .aboutCards{
       flex-wrap: wrap;

    }
   

}